 html {
     height: 120%;
 }

 body {
     background-image: url(./images/mountainPic.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }

 h1 {
     color: rgba(13, 119, 241, 0.952);
     text-align: center;
 }

 p {
     text-align: center;
 }

 li {
     padding-left: 35%;
 }

 h2 {
     text-align: center;
     color: rgb(255, 0, 0);
 }

 blockquote {
     text-align: center;
 }

 img {
     width: 25%;
     padding-top: 20px;
     padding-left: 37%;
 }

 .github {
     display: flex;
     flex-direction: column;
 }

 .icons-social a {
     color: rgb(255, 38, 30);
     padding-left: 50%;
 }

 .icons-social i:hover {
     color: yellow;
     transition: transform .2s;
     -ms-transform: scale(1.25);
     /* IE 9 /     -webkit-transform: scale(1.25); / Safari 3-8 */
     transform: scale(1.25);
 }

 .extension a {
     display: flex;
     flex-direction: column;
     text-align: center;
     text-decoration: none;
     color: rgb(255, 38, 30)
 }

 .extension a:hover {
     color: yellow;
     transition: transform .2s;
     -ms-transform: scale(1.30);
     /* IE 9 /     -webkit-transform: scale(1.25); / Safari 3-8 */
     transform: scale(1.30);

 }